
.App-header {
    background-color: #282c34;
    background-image: url('./images/asphalt.jpg');
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }